#score_title{
    font-family:'Segoe UI';
    font-size:x-large;
    color: white;
    text-align: center;
}
#detail_card{
    font-family:'Segoe UI';
    font-size:x-large;
    color: black;
    width:11vw;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
#detail_board{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#body{
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}